.customers__name {
	margin: 0;
	padding: 13px 20px;
	border-bottom: 1px solid #e1e6ea;
	background-color: #fafbfb;
	/*Шрифт*/
	font-family: Arial, sans-serif;
	font-size: .8125rem;
	font-weight: normal;
	line-height: 1rem;
	color: #2a2d32;
	/*Анимация*/
	transition: background-color linear .2s;
}

.customers__name:hover {
	cursor: pointer;
	background-color: #dff7fd;
}

.customers__name_selected {
	color: #f36913;
}
