.button_theme_blue {
	margin-top: 40px;
	width: 191px;
	height: 42px;
	background-color: #0bc0df;
	position: relative;
	color: #fff;
	border: 1px solid #0bc0df;
	border-radius: 3px;
	cursor: pointer;
	outline: 0;
	padding: 8px 15px;
	white-space: nowrap;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
	/* Шрифт */
	font-family: Roboto, sans-serif;
	font-size: .8125rem;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	/* Анимация */
	transition: background-color linear .2s, border linear .2s;
}

.button_theme_blue:hover {
	cursor: pointer;
	border: 1px solid #1c9daf;
}

.button_theme_blue:active {
	background-color: #1c9daf;
}
