.sign__label {
	margin: 0;
	padding-bottom: 5px;
	display: block;
	/* Шрифт */
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	font-size: .8125rem;
	color: #667682;
}
