.sign {
	display: grid;
	grid-template-columns: 489px 1fr;
}

.sign__bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url("../../images/behind.png") no-repeat left 34px bottom 34px, url("../../images/bg.png") no-repeat left center;
	background-size: 400px, cover;
}

.sign__container {
	background: #f8f9fd;
	height: calc(100vh - 66px);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 381px;
	padding: 66px 54px 0;
}

.sign__logo {
	width: 70px;
	height: 70px;
}

.sign__title {
	margin: 75px 0 0;
	align-self: start;
	/* Шрифт */
	font-size: 1.75rem;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #2a2d32;
	letter-spacing: -.2px;
}

.sign__form {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sign__label {
	margin: 0;
	padding-bottom: 5px;
	display: block;
	/* Шрифт */
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	font-size: .8125rem;
	color: #667682;
}

.input {
	max-width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
}

.input_place_sign {
	min-height: 29px;
	padding: 5.5px 12px;
	border-radius: 1px;
	border: 1px solid #ccd5db;
	margin-bottom: 25px;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
	background-color: white;
	/* Шрифт */
	font-family: Roboto,sans-serif;
	font-size: .875rem;
	color: #2a2d32;
	line-height: 22px;
}

.input_place_sign:last-of-type {
	margin: 0;
}

.input_place_sign:focus {
	outline: 2px solid #0bc0df;
}

.button {
	border: none;
	outline: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.button_theme_blue {
	margin-top: 40px;
	width: 191px;
	height: 42px;
	background-color: #0bc0df;
	position: relative;
	color: #fff;
	border: 1px solid #0bc0df;
	border-radius: 3px;
	cursor: pointer;
	outline: 0;
	padding: 8px 15px;
	white-space: nowrap;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
	/* Шрифт */
	font-family: Roboto, sans-serif;
	font-size: .8125rem;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	/* Анимация */
	transition: background-color linear .2s, border linear .2s;
}

.button_theme_blue:hover {
	cursor: pointer;
	border: 1px solid #1c9daf;
}

.button_theme_blue:active {
	background-color: #1c9daf;
}
