{% extends "order_base_template.html" %}

{% block refactor_subtitle %}
<h2 class="refactor__subtitle">Приглашаем вас</h2>
<h2 class="refactor__subtitle">в&nbsp;кинотеатры&nbsp;нового&nbsp;поколения</h2>
{% endblock refactor_subtitle %}
{% block refactor_coniditions %}
сертификат на скидку 20% на закуски в кинобаре и 30% на фильмы, участвующие
в еженедельных предложениях для ключевых партнёров сети кинотеатров «каро»
{% endblock refactor_coniditions %}
{% block refactor_caption %}
*Подробности у администратора кинотеатра
{% endblock refactor_caption %}
{% block voucher_text %}
1. Данный сертификат не является билетом. Для приобретения билета на киносеанс со скидкой
30% необходимо предъявить сертификат в распечатанном виде на кассах кинотеатра
заблаговременно до начала сеанса.
2. Сертификат действителен во всех кинотеатрах сети «КАРО».
3. Сертификат дает скидку 20% на попкорн, начос, хот-доги и Coca-Cola. Обязательное условие
– наличие в одном чеке билета на любой фильм и продукции.
4. Срок проведения акции: Cертификат действует до окончания проката фильмов, участвующих
в еженедельных предложениях для ключевых партнёров сети кинотеатров «КАРО».
{% endblock voucher_text %}