{% extends "order_base_template.html" %}

{% block header %}
	<header class="header">
		<div class="header__container">
			<a href="" class="header__link"><img src={% block logo %}"images/logo.png"{% endblock logo %} class="header__logo"></a>
		</div>
	</header>
{% endblock header %}

{% block refactor_subtitle %}
	<h2 class="refactor__subtitle">Приглашаем вас</h2>
	<h2 class="refactor__subtitle">в кинотеатры нового поколения</h2>
{% endblock refactor_subtitle %}

{% block refactor_coniditions %}
{% endblock refactor_coniditions%}

{% block refactor_caption %}
	*Подробности у администратора кинотеатра
{% endblock refactor_caption %}

{% block refactor_bottom %}
<div class="refactor__bottom">
	<h2 class="refactor__subtitle">Правила использования</h2>
	<p class="refactor__caption">Приглашаем Вас в кинотеатры нового поколения, адреса Вы можете уточнить на сайте www.karofilm.ru</p>
	<label class="refactor__label" for="voucher-text">Категория сертификата:</label>
	<textarea id="voucher-text" name="voucher-text" class="refactor__text" required minlength="2" maxlength="2500">
		{% block voucher_text %}
		1. Данный сертификат на скидку действителен во всех кинотеатрах сети, за исключением
		кинотеатров «КАРО 8 Саларис» и «КАРО 4 Ангара».
		2. Скидка 30% на билеты из списка фильмов для партнеров действует на киосках
		самообслуживания.
		3. Скидка 20% на все виды попкорна, разливные Coca-Cola/Фанта/Спрайт, бутылированные
		Coca-Cola/Фанта/Спрайт/Швепс, все виды хот-догов и чипсов «Начос», а также соусов к ним
		действует на кассе при предъявлении штрих-кода перед оплатой.
		4. Срок проведения акции: Cертификат действует до окончания проката фильмов, участвующих
		в еженедельных предложениях для ключевых партнёров сети кинотеатров «КАРО».
		{% endblock voucher_text %}
	</textarea>
</div>
{% endblock refactor_bottom %}