.sign__bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url("../../../../images/behind.png") no-repeat left 34px bottom 34px, url("../../images/bg.png") no-repeat left center;
	background-size: 400px, cover;
}
