.vouchers {
  display: grid;
  grid-template-columns: 317px 1fr 1fr;
  gap: 20px;
  height: 100%;
  margin-right: 20px;

  &__customers {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .06);
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  &__filter {
    width: 100%;
    border-bottom: 1px solid #ccd5db;
    padding: 19px;
  }

  &__list {
    height: calc(100vh - 47px - 74px);
    overflow-y: scroll;
  }

  &__container {
    position: relative;
    display: flex;
    margin: 15px 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid #ccd5db;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .06);

    &_list {
      overflow-y: scroll;
    }
  }

  &__subtitle {
    padding: 15px 10px;
    border-bottom: 1px solid #ccd5db;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /*Шрифт*/
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    &_partner {
      color: #5f6366;
    }
  }

  &__submit {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 191px;
    row-gap: 20px;
    &_input-container {
      grid-column: 1/-1;
      position: relative;
      overflow-y: visible;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_add {
      height: 20px;
      width: 20px;
      background: url("../images/plus.png") no-repeat center center;
      background-size: cover;
      cursor: pointer;
      transition: opacity .2s linear;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      &:hover {
        opacity: .8;
      }
      &:active {
        filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
      }
    }
    &_button {
      justify-self: end;
    }
  }
  &__nf {
    width: 100%;
    height: 100%;
    grid-column: 2/-1;
    background: url("../images/not_found.svg") center center no-repeat;
  }

  &__remove-input-btn {
    background: url("../images/removeicon.png") no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    transition: opacity .2s linear;
    position: absolute;
    left: calc(50% - 40px);
    transform: translateX(-50%);
    bottom: -10px;
    &:hover {
      opacity: .8;
    }
    &:active {
      filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
    }
  }
  &__settings-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    background: url("../images/free-icon-gear-40031.png") center center no-repeat;
    background-size: cover;
    &:hover {
      animation: rotateSetting 5s linear infinite;
      cursor: pointer;
    }
  }
  &__settings {
    position: absolute;
    visibility: hidden;
    padding: 15px;
    //width: 200px;
    //height: 200px;
    background-color: white;
    box-shadow: 0 0 10px 0 grey;
    top: 35px;
    right: 20px;
    z-index: 9;
    border-radius: 5px;
    opacity: 0;

    transition: opacity .3s linear, visibility .3s linear;

    &_open {
      opacity: 1;
      visibility: visible;
    }

    &_option {
      display: flex;
      gap: 10px;
      padding-bottom: 9px;
      padding-top: 10px;
      border-bottom: 1px solid lightgrey;

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }

      &:first-of-type {
        padding-top: 0;
      }
    }

    &_option-title {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 1rem;
    }

    &_label {
      display: block;
      width: 40px;
      height: 20px;
      background-color: lightgray;
      border-radius: 30px;
      position: relative;
      cursor: pointer;

      &:before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background: #575656;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: left .3s linear;
      }
    }

    &_checkbox {
      display: none;
      visibility: hidden;

      &:checked + .vouchers__settings_label {
        background: #5dee5d;
      }

      &:checked + .vouchers__settings_label:before {
        left: 22px;
      }
    }

  }
}

@keyframes rotateSetting {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
