.voucher-time__table {
	display: flex;
	flex-direction: column;
	height: inherit;
	margin: 0;
	padding: 50px;
	overflow-y: scroll;
	box-sizing: border-box;
}

.voucher-time__table::-webkit-scrollbar {
	width: 6px;               /* ширина scrollbar */
	cursor: pointer;
}
.voucher-time__table::-webkit-scrollbar-track {
	background: #fafbfb;        /* цвет дорожки */
}
.voucher-time__table::-webkit-scrollbar-thumb {
	background-color: rgba(243, 105, 19, .8);    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: none;  /* padding вокруг плашки */
}

.voucher-time__table::-webkit-scrollbar-thumb:hover {
	background-color: rgba(243, 145, 75, .8);    /* цвет плашки */
}
