.orders__box {
	border: 5px solid white;
	min-height: 300px;
	border-top: 5px solid #fb0d1c;
	margin-top: -6px;
	box-shadow: inset 0px 3px 10px 0px #686464;
	background-color: rgb(255, 255, 255);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}