.header {
	background: url("../../../../images/header.png") center bottom;
	background-size: cover;
	height: 47px;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 18px;
}
