.voucher-time__filter_item {
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: -.3px;
	font-family: Roboto, Arial, sans-serif;
	color: #2a2d32;
	border-radius: 10px;
}

.voucher-time__filter_item:focus {
	outline: 2px solid #1c9daf;
}
