.navBar__link {
	display: block;
	padding: 7px 0 7px 18px;
	border-left: 4px solid transparent;
	background-color: transparent;
	/**/
	font-family: Arial, sans-serif;
	font-weight: 500;
	font-size: .875rem;
	color: #a3b1b4;
	text-decoration: none;
	/* Анимации */
	transition: border linear .2s, background-color linear .2s, color linear .2s;
}

.navBar__link:hover {
	cursor: pointer;
	background-color: #2d3740;
	color: white;
}

.navBar__link_current {
	background-color: #2d3740;
	color: white;
	border-left-color: #f36913;
}
