<!DOCTYPE html>
<html lang='ru'>
<head>
	<title>barcode</title>
	<link rel="stylesheet" type="text/css" href="default.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="barcode-place">
		<header class="header">
			<div class="barcode-place__section-margin">
				<img class="logo" src="images/logo.png">
				<h1 class="header__title">Приглашаем вас в&nbsp;кинотеатры&nbsp;нового&nbsp;поколения</h1>
				<p class="header__footnote">*Подробности у администратора кинотеатра</p>
			</div>
		</header>
		<main class="center">
			<div class="ticket">
				<aside class="ticket__barcode"><img src="images/qrcode.png" class="barcode"></aside>
				<img src="images/voucher.png" class="ticket__voucher">
			</div>
		</main>
		<footer class="footer">
			<div class="barcode-place__section-margin">
				<h2 class="footer__title">Правила использования</h2>
				<p class="footer__subtitle">Приглашаем Вас в кинотеатры нового поколения, адреса Вы можете уточнить на сайте www.karofilm.ru</p>
				<p class="footer__sertCategory">Категория сертификата: <output name="sertCategory" for=""></output></p>
				<p class="footer__text"><output name="rulesForSert" for=""></output>12321321321321321321</p>
			</div>
		</footer>
	</div>
</body>
</html>