<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Александр Волошин" />
    <title>{% block title %}barcode{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ static('img/logo_64.png') }}" />
    {% block css %}<link rel="stylesheet" type="text/css" href="{{ static('pages/index.css') }}" />{% endblock css %}
  </head>
  <body class="page">
    {% block nav %}
      <header class="header">
        <a href="{{ url('index') }}" class="header__logo"></a>
      </header>
    {% endblock nav %}
    <main class="main">
      {% block main %}
      {% endblock main %}
    </main>
    {% block footer %}
      <footer class="footer">
        
      </footer>
    {% endblock footer %}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>