.notFound__link {
	color: #1c9daf;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	line-height: 1.15;
	margin: 0;
	text-decoration: none;
}

.notFound__link:hover {
	opacity: .8;
}
