.templates__progress {
	display: block;
	padding: 11px;
	border-radius: 5px;
	/* Шрифт */
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: .8125rem;
	font-weight: 500;
	line-height: 1.1875rem;
	color: #544c50;
	white-space: pre-wrap;
}

.templates__progress_success {
	background-color: #C2F9C2;
}

.templates__progress_failure {
	background-color: #f7cac1;
}
