.input_place_sign {
	min-height: 29px;
	padding: 5.5px 12px;
	border-radius: 1px;
	border: 1px solid #ccd5db;
	margin-bottom: 25px;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
	background-color: white;
	/* Шрифт */
	font-family: Roboto,sans-serif;
	font-size: .875rem;
	color: #2a2d32;
	line-height: 22px;
}

.input_place_sign:last-of-type {
	margin: 0;
}

.input_place_sign:focus {
	outline: 2px solid #0bc0df;
}
