.voucher-time__table_item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 15px;
}

.voucher-time__table_item:hover {
	cursor: pointer;
	background-color: #dff7fd;
}

.voucher-time__table_item p {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	color: #2a2d32;
	font-size: 13px;
}
