.customers {
	border-top: 1px solid #ccd5db;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

.customers::-webkit-scrollbar {
	width: 4px;               /* ширина scrollbar */
	cursor: pointer;
}
.customers::-webkit-scrollbar-track {
	background: #fafbfb;        /* цвет дорожки */
}
.customers::-webkit-scrollbar-thumb {
	background-color: rgba(243, 105, 19, .8);    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: none;  /* padding вокруг плашки */
}

.customers::-webkit-scrollbar-thumb:hover {
	background-color: rgba(243, 145, 75, .8);    /* цвет плашки */
}
